@model Ksiegarnia.ViewModels.UsersManage.UserResetPasswordViewModel

@{
    ViewData["Title"] = "Reset password";
}

<div>
    <h2>Reset password for user: <strong>@Model.Email</strong> </h2>
    <form asp-action="ResetPassword" method="post" asp-route-id="@Model.Id">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="Id"/>

        <div class="mb-3">
            <label asp-for="NewPassword" class="form-label">New password</label>
            <input asp-for="NewPassword" class="form-control" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="ConfirmNewPassword" class="form-label">Confirm new password</label>
            <input asp-for="ConfirmNewPassword" class="form-control" />
            <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-warning">Reset password</button>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary">Cancel</a>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}