@model Ksiegarnia.ViewModels.Categories.CategoryViewModel

@{
    ViewData["Title"] = "Create a category";
    ViewData["Action"] = "Create";
}
<div>
    <h2>Create a category</h2>
    
    <form asp-action="@(ViewData["Action"] as string)" method="post">

        <partial name="_CategoryForm" model="Model"/>

    </form>
</div>