/* Tutaj znajdują się wszystkie napisane przeze mnie style css do plików View .cshtml */

/* reset + globalne ustawienia*/
*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: white;
}

html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    margin-bottom: 60px;
    background-color: #1e1e1e;
}

/* override niektórych elementów bootstrapowych */
.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
    font-size: 1.25em;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* linki i nawigacja */
a {
    color: #01eaff;
    text-decoration: none;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.navbar-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.4em;
    padding-left: 1em;
    padding-top: .35em;
    padding-bottom: .35em;
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link {
    font-size: .95em;
    transition: all .25s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.1em;

    &:hover {
        color: red;
    }
}

.avatar-icon {
    width: 2.5em;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

/* formularze */
.form-wrapper { }

.form-button {
    margin-top: 1em;
    padding: .45em 1.75em;
}

.form-input {
    margin: 1vw;
    color: black;
    text-align: center;
    border-radius: .75em;
}

.form-select {
    color: black;
    max-width: 50vw;

    & > option {
        padding: .25em 2em;
        color: black;
        font-size: 1.15em;
        width: 100%;
    }
}

.form-floating > .form-control-plaintext::placeholder,
.form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder,
.form-floating > .form-control:focus::placeholder {
    text-align: start;
}

/* walidacja */
.field-validation-error {
    color: red;
    font-size: 1.15em;
    margin-left: 3vw;
}

.field-validation-valid {
    display: none;
}

.text-danger {
    color: red !important;
    font-size: 1.1em;
}

/* listy i tabela*/
.list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
}

.list-wrapper {
    margin: 2vw;
    border: 2px solid white;
    border-radius: 3em;
    padding: 3vw 1vw;
}

.item-wrapper {
    margin: 2vw;
    border: 1px solid white;
    border-radius: 2em;
    padding: 1vw 1.8vw;

    display: grid;
    place-items: center;
    text-align: center;
}

table * {
    color: black;
}

/* book delete i details */
.book-details-wrapper,
.delete-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;

    border: 2px solid white;
    background-color: black;
    padding: 2em;
    border-radius: 2em;
    margin: 5vh auto 0;

    & > *:not(input) {
        padding: .5em 1.25em;
        border-radius: 2em;
        font-size: 1.8em;
    }
    
    & input[type="submit"] {
        font-size: 1em;
        padding: .35em 1em;
    }
}

/* przyciski akcji */
.buttons-action {
    & * {
        font-size: 1.2em;
        padding: .35em 1em;
    }
}

.details-buttons-action {
    display: grid;
    width: 50%;
    gap: 3em;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr 1fr;
    padding: 1em .25em;

    & > * {
        font-size: 1.5em;
        justify-self: center;
        padding: .35em 1em;
    }
}

.buttons-profile {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    align-items: flex-start;
}

/* pozycje elementów */
.absolute {
    position: fixed;
    z-index: 100;
}

.top-right {
    top: 10%;
    right: 10%;
}

.absolute-right {
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translateY(-50%);
}

.absolute-righter {
    position: absolute;
    right: 8%;
    top: 50%;
    transform: translateY(-50%);
}

/* marginesy, kolory i czcionka */
.margin-left-small { margin-left: 1em; }
.margin-left-medium { margin-left: 1em; }
.margin-left-right-small { margin: 0 1em; }
.margin-top-small { margin-top: 1.5em; }

.color-dark {
    color: black;

    & * {
        color: black;
    }
}

.profile-text {
    font-size: 1.65em;
    margin: 1em 2em;
    display: flex;
    align-items: center;
    gap: .5em;
}

.anti-self-delete {
    color: red;
    font-size: 1.5em;
}

/* footer */
main {
    margin-bottom: 10vh;
}

footer {
    position: fixed;
    bottom: 0;
    padding: 2em;
    width: 100%;
}
